/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.titulito {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #00b3b4;
    text-shadow: 3px 3px 0 #e7eef1, 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.contain {
    background-color: #0a0a0e;
    color: #ffffff;
    border: 1px solid;
    border-radius: 10px 10px;
    box-shadow: 4px 7px 10px #0c3592;
}

 .tit {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #00b3b4;
    text-shadow: 3px 3px 0 #e7eef1, 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.heade {
    opacity: 0.8;
    border: 2px solid;
    width:80%;
    border-radius: 15px 15px;
    box-shadow: 4px 7px 10px aqua;
    margin:auto;
    margin-block-start:200px;
    background-color: black;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: rgb(13, 15, 21);
}

#ShowTarjeta {
    width: 70%;
    margin: auto;
    border-radius: 15px 15px;
    opacity: 0.8;
    border: 2px solid;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
