@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header class="heade">
        <h1 class="titulito">Bienvenidos a mi proyectazo!</h1>
        <h5>Fecha de entrada: @ViewBag.fecha</h5>
    </header>
</div>
